/*
<!--Nicole Liu-->
<!--IntroCS pd2 sec2-->
<!--HW05 -- Stuylin'-->
<!--2021-2-18-->
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

h1 {
font-family:"Lucida Handwriting"; 
color: purple; 
background-color: pink; 
font-size: 20;
border-style: dashed
 }
h2 {
font-family:papyrus; 
color: purple;
background-color: pink;
font-size: 15;
border-style: dashed
}

h3 {
color:orange;
font-family:courier;
color: red;
background-color: orange; 
font-size: 10;
}
p {
font-family:"Times New Roman"
border-style: groove
}
body {
  background-color: lavender;
  border-style: double;
  border-color: black;
li {
  font-family: "Lucida Console", monospace;
}
}

</style>
</head>
